* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
		font-family: 'Roboto Condensed', sans-serif;
    }
body{
	background-color:  #eaeffa;
}
.header{
	border-bottom: 1px solid black;
	 background: -webkit-linear-gradient(#2980b9, #2c3e50);
	 background: -moz-linear-gradient(#2980b9, #2c3e50);
	 background: -ms-linear-gradient(#2980b9, #2c3e50);
	width: 100%;
	left: 0px;
	height: 130px;
	margin: 0;
	color: white;
	position: fixed;
	overflow: hidden;
}
h1.project_title{
  color: white;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  font-size: 250%;
}
.content{
	top: 140px;
	margin: 0 auto;
	width: 60%;
}
.article_title{
	font-size: 125%;
}

::selection{
	background-color: red;
}
::-moz-selection{
	background-color:red;
}
.content {
	padding-bottom:100px; /* Height of the footer element */
}
.by_name{
	color: white;
	font-weight: bold;
}
.by_name:hover{
	color:red;
}
.project_footer {
	border-top: 1px solid black;
	background: -webkit-linear-gradient(#232526, #414345);
	background: -moz-linear-gradient(#232526, #414345);
	background: -ms-linear-gradient(#232526, #414345);
	width:100%;
	height:100px;
	position:fixed;
	bottom:0;
	left:0;
	opacity: 0.5;
	-webkit-transition: opacity 1s;
	-webkit-transition-delay: 3s;
}
.project_footer:hover{
	opacity:1;
	-webkit-transition-delay: 0s;
}
.footer_content{
	text-align: right;
}
.sizes{
	font-size: 100%;
    -webkit-transition: font-size 0.5s; /* For Safari 3.1 to 6.0 */
    transition: font-size 0.5s;

-webkit-transition: font-size 0.5s, -webkit-transform 2s; /* Safari */
    transition: font-size 0.5s;
}

.sizes:hover{
  font-size: 120%;
}
.styles{
	font-family: 'Roboto Condensed';
	-webkit-transition: color 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
	transition: color 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
}

.styles:hover {
	color:red;
	letter-spacing: 2px;
}
